$txt-color: #1d89e4;

a {
  color: #444444;
  &:hover {
    color: $txt-color;
  }
}

%one {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

%in-b {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

%clearfix {
  zoom: 1;
  &:after {
    clear: both;
  }
  &:before,
  &:after {
    content: "";
    display: table;
  }
}

input[type="text"],
input[type='radio'],
select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  &::-webkit-input-placeholder {
    color: #999;
    font-size: inherit;
  }
  &:-moz-placeholder {
    color: #999;
    font-size: inherit;
  }
  &::-moz-placeholder {
    color: #999;
    font-size: inherit;
  }
  &:-ms-input-placeholder {
    color: #999;
    font-size: inherit;
  }
}

input[type="submit"] {
  cursor: pointer;
}

input,
textarea,
select {
  background-color: transparent;
  font-family: '微软雅黑';
}

select {
  border: none;
  text-indent: 1em;
}

option {
  text-indent: 19px;
  font-family: '微软雅黑';
}

input[type='text'],
select {
  border: none;
  text-indent: 1em;
}

input[type="submit"] {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  background-size: 100% auto;
  border-radius: 3px;
  text-align: center;
}

.wrap {
  width: 1200px;
  margin: 0 auto;
}

.head {
  padding-top: 7px;
  padding-bottom: 9px;
  @extend %clearfix;
  .head-l {
    float: left;
  }
  .head-r {
    float: right;
    ul {
      @extend %clearfix;
      padding-top: 25px;
      li {
        float: left;
        a {
          @extend %in-b;
          padding: 0 20px;
          border-right: 1px solid #dddddd;
          font-size: 18px;
          line-height: 18px;
        }
        &:last-child {
          a {
            border-right: none;
          }

        }
      }
    }
  }
}

.banner {
  width: 100%;
  height: 300px;
  //background: url('https://img.thea.cn/public/platform/thea/201908/hbj/zdwx/images/banner.png') no-repeat center;
  position: relative;
  .banner-link{
    position: absolute;
    @extend %in-b;
    width: 100%;
    height: 300px;
  }
}

.types-nav {
  width: 252px;
  height: 300px;
  background-color: #eeeeee;
  padding-left: 8px;
  padding-top: 6px;
  box-sizing: border-box;
  position: relative;
  float: left;
  .nav-item {
    padding-top: 12px;
    padding-left: 12px;
    border-bottom: 1px solid #dddddd;
    box-sizing: border-box;
    &:last-child {
      border-bottom: none;
      &:hover{
        border-bottom: 1px solid #dddddd;
      }
      ul{
        margin-bottom: 0;
      }
    }
    &.active {
      background-color: #fff;
      border-left: 2px solid #41a5fa;
      .content-detail {
        display: block;
      }
    }
  }
  .item-title {
    .icon {
      @extend %in-b;
      width: 16px;
      height: 16px;
      margin-right: 10px;
    }
    h3 {
      @extend %in-b;
      font-size: 16px;
      line-height: 16px;
      color: #444444;
      font-weight: bold;
    }
  }
  .item-content {
    padding-top: 16px;
    ul {
      @extend %clearfix;
      margin-right: -14px;
      margin-bottom: 3px;
      li {
        float: left;
        a {
          @extend %in-b;
          width: 74px;
          @extend %one;
          font-size: 12px;
          line-height: 12px;
          color: #666666;
          //margin-right: 6px;
          margin-bottom: 10px;
          &:hover {
            color: $txt-color;
          }
        }
      }
    }
    .content-detail {
      display: none;
      width: 444px;
      height: 300px;
      background-color: #fff;
      position: absolute;
      top: 0;
      left: 252px;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      box-sizing: border-box;
      padding-top: 20px;
      padding-left: 40px;
      .detail-title {
        margin-bottom: 18px;
        a {
          @extend %in-b;
          height: 34px;
          line-height: 34px;
          padding: 0 10px;
          font-size: 14px;
          color: #444444;
          background-color: #daeefe;
          margin-right: 28px;
          &:hover{
            color: #ffffff;
            background-color: $txt-color;
          }
        }
      }
      ol {
        @extend %clearfix;
        margin-right: -10px;
        margin-bottom: 6px;
        li {
          float: left;
          a {
            @extend %in-b;
            width: 130px;
            @extend %one;
            margin-right: 6px;
            font-size: 14px;
            line-height: 14px;
            color: #666666;
            margin-bottom: 8px;
            span {
              @extend %in-b;
              -webkit-transform: scale(0.66); // 8px/12px
              -moz-transform: scale(0.66);
              -ms-transform: scale(0.66);
              -o-transform: scale(0.66);
              transform: scale(0.66);
            }
            &:hover {
              color: #ea5e01;
            }
          }
        }
      }
    }
  }
}

.login-wrap {
  width: 202px;
  height: 236px;
  background-color: #ffffff;
  border-radius: 6px;
  float: right;
  margin-right: 20px;
  margin-top: 32px;
  position: relative;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  .scarf {
    @extend %in-b;
    width: 33px;
    height: 32px;
    position: absolute;
    top: -3px;
    right: -3px;
    background: url('https://img.thea.cn/public/platform/thea/201908/hbj/zdwx/images/icon_5.png')
  }
  .avatar {
    width: 64px;
    height: 64px;
  }
  .login-title {
    font-size: 14px;
    line-height: 14px;
    color: #444444;
    padding-top: 12px;
    span {
      color: $txt-color;
    }
  }
  .login {
    @extend %in-b;
    width: 100%;
    height: 34px;
    line-height: 34px;
    background-color: #ffffff;
    border: solid 1px #dddddd;
    box-sizing: border-box;
    border-radius: 17px;
    color: #666666;
    font-size: 14px;
    margin-top: 20px;
    &:hover {
      border: none;
      color: #fff;
      background-image: linear-gradient(90deg, #00d2f8 0%, #41a5fa 100%),
      linear-gradient(
              #ffffff,
              #ffffff);
      background-blend-mode: normal, normal;
      box-shadow: 0px 3px 5px 0px rgba(29, 137, 228, 0.48);
    }
  }
  .register {
    @extend %in-b;
    width: 100%;
    height: 34px;
    line-height: 34px;
    background-image: linear-gradient(90deg,
        #ffb80d 0%,
        #f1711c 100%),
    linear-gradient(
            #5ea4e7,
            #5ea4e7);
    background-blend-mode: normal,
    normal;
    box-shadow: 0px 3px 5px 0px rgba(255, 113, 37, 0.48);
    box-sizing: border-box;
    border-radius: 17px;
    color: #fff;
    font-size: 14px;
    margin-top: 20px;
    &:hover {
      background-image: linear-gradient(90deg,
          #fe8a3e 0%,
          #fd592d 100%),
      linear-gradient(
              #5ea4e7,
              #5ea4e7);
      background-blend-mode: normal,
      normal;
      box-shadow: 0px 3px 5px 0px rgba(233, 76, 14, 0.48);
    }
  }
}

/* 标题模块 */
.title-module {
  width: 100%;
  text-align: center;
  h2 {
    @extend %in-b;
    font-size: 30px;
    line-height: 30px;
    color: #444444;
    font-weight: bold;
    margin-right: 6px;
  }
  .icon {
    @extend %in-b;
    width: 29px;
    height: 24px;
    background: url('https://img.thea.cn/public/platform/thea/201908/hbj/zdwx/images/icon_6.png') no-repeat;
  }
}

/* 课程 */
.courses {
  padding-top: 40px;
  ul {
    padding-top: 30px;
    @extend %clearfix;
    margin-left: -10px;
    margin-right: -20px;
    li {
      width: 214px;
      text-align: center;
      font-size: 14px;
      float: left;
      margin-right: 12px;
      padding: 10px;
      &:hover{
        box-shadow: 0px 0px 18px 0px
        rgba(160, 160, 160, 0.3);
      }
      a {
        img {
          height: 132px;
        }
        span {
          @extend %in-b;
          width: 100%;
          @extend %one;
          line-height: 14px;
          padding-top: 12px;
        }
      }
    }
  }
}

/* 直播 */
.live {
  padding-top: 40px;
  margin-bottom: 40px;
  .tab-head {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 30px;
    .head-item {
      // width: 140px;
      @extend %in-b;
      height: 46px;
      line-height: 46px;
      background-color: #ffffff;
      border: solid 1px #dddddd;
      font-size: 16px;
      color: #444444;
      padding: 0 30px;
      box-sizing: border-box;
      margin-right: 18px;
      cursor: pointer;
      &.active {
        border: none;
        color: #fff;
        background-image: linear-gradient(90deg,
            #00d2f8 0%,
            #2f9af4 100%),
        linear-gradient(
                #ffffff,
                #ffffff);
        background-blend-mode: normal,
        normal;
        box-shadow: 0px 3px 5px 0px rgba(29, 137, 228, 0.48);
      }
    }
  }
  .live-content {
    .content-item {
      @extend %clearfix;
      margin-left: -10px;
      margin-right: -18px;
      display: none;
      &.active {
        display: block;
      }
      li {
        width: 280px;
        float: left;
        margin-right: 7px;
        padding: 10px;
        &:hover{
          box-shadow: 0px 0px 18px 0px
          rgba(160, 160, 160, 0.3);
        }
      }
      .cover {

        height: 172px;
      }
      h4 {
        font-size: 14px;
        color: #444444;
        line-height: 14px;
        padding-top: 12px;
        margin-bottom: 12px;
      }

      .item-teacher {
        float: left;
        .timer {
          margin-bottom: 10px;
          color: #f1711c;
          border-top: 1px solid #f1711c;
          border-bottom: 1px solid #f1711c;
          line-height: 23px;
          box-sizing: border-box;
        }
        .speaker {
          font-size: 12px;
          color: #666666;
        }
      }

      .appoint {
        @extend %in-b;
        float: right;
        width: 102px;
        height: 32px;
        line-height: 32px;
        background-image: linear-gradient(90deg,
            #ffb80d 0%,
            #f1711c 100%),
        linear-gradient(
                #d1d1d1,
                #d1d1d1);
        background-blend-mode: normal,
        normal;
        box-shadow: 0px 3px 5px 0px rgba(255, 113, 37, 0.48);
        font-size: 14px;
        color: #fff;
        text-align: center;
        border-radius: 16px;
      }
    }
  }
}

/* 名师 */
.top-teacher {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 42px;
  box-sizing: border-box;
  background: url("https://img.thea.cn/public/platform/thea/201908/hbj/zdwx/images/bg_1.png") no-repeat center;
  ul{
    padding-top: 43px;
    text-align: center;
    li{
      @extend %in-b;
      width: 260px;
      height: 332px;
      margin-right: 20px;
      background-color: #ffffff;
      box-shadow: 0px 0px 18px 0px
      rgba(160, 160, 160, 0.3);
      padding: 20px;
      box-sizing: border-box;
      text-align: center;
      &:last-child{
        margin-right: 0;
      }
      .name{
        color: #444444;
        font-size: 18px;
        line-height: 18px;
        padding-top: 12px;
        margin-bottom: 12px;
        font-weight: bold;
      }
      .honor{
        color: #666666;
        font-size: 16px;
        line-height: 16px;
        //margin-bottom: 30px;
        height: 46px;
      }
      .btn-wrap{
        @extend %clearfix;
        a{
          float: left;
          @extend %in-b;
          width: 100px;
          height: 34px;
          line-height: 34px;
          border-radius: 3px;
          border: solid 1px #dddddd;
          font-size: 14px;
          box-sizing: border-box;
          &.listen{
            border: none;
            color: #ffffff;
            background-image: linear-gradient(90deg,
                #00d2f8 0%,
                #2f9af4 100%),
            linear-gradient(
                    #d1d1d1,
                    #d1d1d1);
            background-blend-mode: normal,
            normal;
            box-shadow: 0px 3px 5px 0px
            rgba(29, 137, 228, 0.48);
            &:hover{
              background-image: linear-gradient(90deg,
                  #ffb80d 0%,
                  #f1711c 100%),
              linear-gradient(
                      #d1d1d1,
                      #d1d1d1);
              background-blend-mode: normal,
              normal;
              box-shadow: 0px 3px 5px 0px
              rgba(255, 113, 37, 0.48);
            }
          }
          &.introduce{
            float: right;
            &:hover{
              border: 1px solid #f1711c;
              color: #f1711c;
            }
          }
        }
      }
    }
  }
  .swiper-container{
    width: 1200px;
    overflow-x: hidden;
  }
  .swiper-button-prev{
    left: 0;
    background-image: url("https://img.thea.cn/public/platform/thea/201908/hbj/zdwx/images/left-able.png");
    &.swiper-button-disabled{
      background-image: url("https://img.thea.cn/public/platform/thea/201908/hbj/zdwx/images/left-disable.png");
    }
  }
  .swiper-button-next{
    right: 0;
    background-image: url("https://img.thea.cn/public/platform/thea/201908/hbj/zdwx/images/right-able.png");
    &.swiper-button-disabled{
      background-image: url("https://img.thea.cn/public/platform/thea/201908/hbj/zdwx/images/right-disable.png");
    }
  }
}

/* 为什么选择中大网校 */
.why {
  padding-top: 40px;
  .why-content {
    @extend %clearfix;
    padding-top: 30px;
    margin-bottom: 47px;
    li {
      float: left;
      width: 26%;
      &:last-child {
        float: right;
        width: 22%;
      }
    }
    img {
      float: left;
    }
    .text {
      float: left;
      padding: 42px 0;
      margin-left: 10px;
      h3 {
        font-size: 18px;
        line-height: 18px;
        margin-bottom: 13px;
        color: #444444;
      }
      p {
        font-size: 16px;
        line-height: 16px;
        color: #888888;
      }
    }
  }
}

/* 保障 */
.guarantee {
  .guarantee-content {
    @extend %clearfix;
    margin-right: -40px;
    padding-top: 40px;
    li {
      float: left;
      margin-right: 39px;
    }
  }
}

/* 圆圈 */
.point-a {
  display: block;
  height: 100%;
  @extend %one;
  &:hover {
    color: $txt-color;
    &:before {
      background-color: $txt-color;
    }
  }
  &:before {
    content: '';
    @extend %in-b;
    width: 4px;
    height: 4px;
    //border-radius: 50%;
    background-color: $txt-color;
    vertical-align: middle;
    margin-right: 10px;
  }
}

/* 热门推荐 */
.hot {
  padding-top: 40px;
  margin-bottom: 40px;
  .tab-head {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 30px;
    .head-item {
      // width: 140px;
      @extend %in-b;
      height: 46px;
      line-height: 46px;
      background-color: #ffffff;
      border: solid 1px #dddddd;
      font-size: 16px;
      color: #444444;
      padding: 0 30px;
      box-sizing: border-box;
      margin-right: 18px;
      cursor: pointer;
      &.active {
        border: none;
        color: #fff;
        background-image: linear-gradient(90deg,
            #00d2f8 0%,
            #2f9af4 100%),
        linear-gradient(
                #ffffff,
                #ffffff);
        background-blend-mode: normal,
        normal;
        box-shadow: 0px 3px 5px 0px rgba(29, 137, 228, 0.48);
      }
    }
  }
  .content-detail{
    @extend %clearfix;
    margin-right: -54px;
    display: none;
    &.active {
      display: block;
    }
    .detail-item {
      float: left;
      .item-title{
        color: #444444;
        font-size: 16px;
        line-height: 16px;
        font-weight: bold;
        margin-bottom: 29px;
        .icon{
          @extend %in-b;
          width: 14px;
          height: 18px;
          background: url("https://img.thea.cn/public/platform/thea/201908/hbj/zdwx/images/icon_12.png") no-repeat;
          margin-left: 8px;
        }
      }
      ul{
        float: left;
        border-right: 1px solid #e8e8e8;
        margin-right: 65px;
        li{
          @extend .point-a;
          margin-bottom: 20px;
          &:last-child{
            margin-bottom: 0;
          }
          a{
            @extend %in-b;
            width: 250px;
            @extend %one;
            font-size: 14px;
            line-height: 14px;
            &:hover{
              text-decoration: underline
            }
          }
        }
      }
      &:last-child{
        ul{
          border-right: none;
          margin-right: 0;
        }
      }
    }
  }
}